<div class="book-page">
  <div class="book-image">
    <img src='<%= (@book.image) %>'>
  </div>
  <div class="book-details">
    <h2>Title: <%= @book.title %></h2>
    <h3>Author: <%= @book.author %></h3>
    <p>ISBN: <%= @book.isbn %></p>
    <p>Average Rating: <%= @book.avg_rating %></p>
  </div>
</div>